 body {
            margin: 10;
            padding: 0;
            font-family: Arial, sans-serif
        }
        .header {
            background-color: rgb(106, 42, 165);
            color: yellow;
            padding: 10px;
            margin: 10px;
            
        }
        .content {
            padding: 20px;
            background-color: rgba(205, 205, 205, 0.444);
            min-height: 400px;
            color: red;
            margin: 10px;
        }
        .footer {
            background-color: black;
            color: tomato;
            padding: 10px;
            margin: 10px;
        }
        * {
            box-sizing: border-box;
        }
    