 body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background-color: rgba(107, 0, 128, 0.325);
        }
        .header {
            background-color: brown;
            color: yellow;
            padding: 10px;
        }
        .content {
            padding: 20px;
            background-color: rgb(212, 18, 18);
            min-height: 400px;
            color: red;
        }
        .footer {
            background-color: black;
            color: tomato;
            padding: 10px;
        }