 body {
            margin: 10;
            padding: 0;
            font-family: Arial, sans-serif
        }
        .header {
            background-color: rgb(106, 42, 165);
            color: yellow;
            padding: 5px;
            margin: 10px;
            justify-content: space-between;
            display: flex;
            
        }
        .content {
            padding: 20px;
            background-color: rgba(205, 205, 205, 0.444);
            min-height: 400px;
            color: red;
            margin: 10px;
            display: flex;
        }
        .footer {
            background-color: black;
            color: tomato;
            padding: 10px;
            margin: 10px;
        }
        * {
            box-sizing: border-box;
        }
        .menu {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
            display: flex;
        }
    .menu li {
            float: left;
            list-style: none;
            margin: 5px;
        }
        .menu li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        .menu li a:hover {
            background-color: #111;
        }